/* Font 1 */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
/* Font 2 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
/* Font 3 */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&display=swap');
/* Font 4 */
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
/* @import url('https://fonts.cdnfonts.com/css/futura-pt'); */



* {
    margin: 0px;
    padding: 0px;
}

h1:hover,
p:hover {
    cursor: default;
}

p{
    font-weight: 400!important;
}

body {
    padding: 0px;
    margin: 0px;
}

.font-1 {
    font-family: 'Lato', sans-serif;
}

.font-2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.font-3 {

    /* font-family: 'Futura PT', sans-serif; */
    font-family: 'Baloo Chettan 2', cursive;
}

.font-4 {
    /* font-family: 'Futura PT', sans-serif; */
    font-family: 'Dosis', sans-serif !important;
}

/* Scroll to the top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    width: 3rem;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}


#myBtn:hover {
    /* background-color: #555; */
    color: #ADCF9F;
}

/* Navbar */
.navbar {
    /* font-family: 'Lato', sans-serif; */
    margin-right: 0;
    margin-bottom: 0;
    /* background-color: #2C3639!important; */
    background-color: black !important;
    /* position: sticky!important;
    top: 0; */
}

.navbar a {
    color: white !important;
    /* font-family: 'Lato', sans-serif; */
}

.navbar a:hover {
    /* color: #DCD7C9!important; */
    /* color: #74BD7A!important; */
    color: #ADCF9F !important;
}

.nav-dropdown {
    /* background-color: #2C3639!important; */
    background-color: black !important;
    color: white !important;
}

.nav-dropdown a:hover {
    /* color: #DCD7C9!important; */
    /* color: black!important; */
    color: #76BA99 !important;
}

.navbar-nav {
    justify-content: center;
    width: 100%;
}

.nav-item {
    padding: 5px 13px;
    font-size: 22px;
}

/* Home */

#home {
    /* background-color: #bfdcc1; */
    margin-top: 0;
    padding-top: 13px;

    /* Gradient (Alternative) */
    /* background: #FFFFFF;
    background: -webkit-linear-gradient(top left, #FFFFFF, #58B75F);
    background: -moz-linear-gradient(top left, #FFFFFF, #58B75F);
    background: linear-gradient(to bottom right, #FFFFFF, #58B75F); */

    /* Normal Background */
    background-color: #c7dbbf;
}

.logo {
    width: 10%;
    height: 10%;
    display: block;
    margin: 0 auto;
}

.home-heading {
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
    /* color: #76BA99; */
}

.home-subheading {
    font-weight: bold;
    text-align: center;
    /* color: #ADCF9F; */
}

.home-image {
    display: block;
    margin: 33px auto;
    width: 70%;
    height: 60%;
    /* border: 10px solid  #76BA99; */
    border-radius: 4px;
}

.home-text {
    padding: 2% 16%;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    /* color: #76BA99; */
    color: black;
}


/* About */

#about {
    /* Gradient Background(Alternative) */
    /* background: -webkit-linear-gradient(bottom left, #FFFFFF, #58B75F);
    background: -moz-linear-gradient(bottom left, #FFFFFF, #58B75F);
    background: linear-gradient(to top right, #FFFFFF, #58B75F); */

    /* Normal Background */
    background-color: #c7dbbf;
}

#about .row{
    margin-right: 0;
}

.about-heading {
    font-size: 2.5em;
    text-align: center;
    padding: 5px 0;
}

.about-family {
    width: 80%;
    height: 70%;
    padding: 4%;
    display: block;
    margin: auto;
    margin-top: 13px;
}

.about-family-text {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 5% 10% 2% 10%;
}

.about-cottage {
    width: 80%;
    height: 70%;
    padding: 4%;
    display: block;
    margin: auto;
    margin-top:13px;
}

.about-cottage-text {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 5% 10% 2% 10%;
}

/* Accommodation Section */

#accommodation {
    /* Gradient Background(Alternative) */
    /* background: -webkit-linear-gradient(bottom left, #FFFFFF, #58B75F);
    background: -moz-linear-gradient(bottom left, #FFFFFF, #58B75F);
    background: linear-gradient(to top right, #FFFFFF, #58B75F); */

    /* Normal Background */
    background-color: #c7dbbf;
}

.accommodation-heading {
    text-align: center;
    margin-top: -13%;
    font-size: 2.5em;
    padding: 0 0 2.5% 0;
}

.accommodation-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2.5rem;
}

.img-container {
    position: relative;
    width: 40%;
    height: 40%;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}


.img-container:hover .overlay {
    opacity: 1;
}

.accommodation-image {
    display: block;
    width: 100%;
    height: auto;
}


/* Things To Do */

#thingstodo {
   /* Gradient Background(Alternative) */
    /* background: -webkit-linear-gradient(bottom left, #FFFFFF, #58B75F);
    background: -moz-linear-gradient(bottom left, #FFFFFF, #58B75F);
    background: linear-gradient(to top right, #FFFFFF, #58B75F); */

    /* Normal Background */
    background-color: #c7dbbf;
}

.ttd-heading {
    text-align: center;
    padding: 3% 0;
    font-size: 2rem;
}

#thingstodo .card {
    text-align: center;
    display: block;
    margin: 15px auto;
    margin-top: 0;
    width: 30%;
    height: 30%;
}

.card-text{
    padding-bottom: 13px;
}

#thingstodo .card p {
    color: #656568;
}

/* Footer Section */

#footer{
    background-color: black;
    color: white;
    padding: 2% 0;
}

.footer-heading{
    text-align: center;
    font-size: 2.5rem;
}

#footer a{
    font-size: 1.1rem;
}


.footer-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-icon{
    text-decoration: none;
    color: white;
    padding: 18px;
    margin-top: 4px;
}

.footer-icon:hover{
    color: #ADCF9F;
}


/* Responsive */
@media only screen and (max-width: 640px) {
    .home-image {
        width: 80%;
        height: 80%;
    }

    .logo {
        width: 20%;
        height: 20%;
    }

    .about-family {
        width: 80%;
        height: 80%;
    }

    .about-cottage {
        width: 80%;
        height: 80%;
    }
    #thingstodo .card{
        width: 80%;
        height: 80%;
    }
    #footer .footer-heading{
        font-size: 1.5rem;
    }
}
